header, section, footer, aside, nav,
article, figure, figcaption {
    display: block;}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #666666;
    background-color: #f9f8f6;
    background-image: url("../images/dark-wood.jpg");
    background-position: center;
    font-family: Georgia, Times, serif;
    line-height: 1.4em;
    margin: 0px;}

.wrapper {
    width: 940px;
    margin: 20px auto 20px auto;
    border: 2px solid #000000;
    background-color: #ffffff;}

header {
    height: 160px;
    background-image: url(../images/header.jpg);
}
nav{
    background-color: #ccc;
}
.menu{
    list-style: none;
    display: flex;
    margin: 0;
}
.menu-item{
    font-size: 16px;
    padding: 4px 15px;
    color: #fff;
    cursor: pointer;
    
}
.menu-item--active{
    color: #333;
}
.container{
    display: flex;
    margin: 20px;
}
.content{
    flex: 1;
    border-right: 1px solid #333;
}
.food{
    display: flex;
    margin-bottom: 20px;
}
.food-img{
    border: 1px solid #ccc;
    margin-right: 4px;
    flex: 1;
}
.food-img img{
    padding: 6px;
    width: 100%;
}
figcaption{
    padding: 6px;
    font-size: 16px
}
.description{
    padding:10px;
    flex: 1;
}
h3{
    padding: 10px 0;
    font-size: 18px;
}
.red{
    color:rgb(236, 73, 73);
}

.aside{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.info{
    color:rgb(236, 73, 73);
}
.info-title{
    padding: 10px 0;

}
.info ul{
    list-style: none;
}
.info ul li{
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.contact{
    margin-top: 50px;
}
.contact p{
    padding-left: 10px;
}
.contact-title{
    color:rgb(236, 73, 73);
    padding-bottom: 10px;
}
.footer{
    background-color: #ccc;
}
.footer p{
    margin-left: 30px;
}

